div#main{
    width: 90%;
}

td.element {
    font-family: "微软雅黑";
    background-color: #555555;
    color: #fff;
    /*padding: 1.2em;*/
    width: 5.5555%;
    height: auto;
    min-height: 50px;
}

table {
    border-spacing: 0px;
    width: 100%;
    text-align:center;
    vertical-align:middle;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

td.element span {
    font-size: 100%;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    display: block;
    white-space: nowrap;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
    font-family: "微软雅黑";
}
